<mat-toolbar color="primary">
  <span>User Management</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <nav>
      <a mat-button
         *ngFor="let item of navItems"
         [routerLink]="item.path"
         routerLinkActive="active">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </a>
    </nav>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
