.aider*
.env
/.gradle*
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/um/src/app/api/.gitignore
/um/src/app/api/.openapi-generator-ignore
/um/src/app/api/com/example/api.module.ts
/um/src/app/api/com/example/api/api.ts
/um/src/app/api/com/example/model/apiResponseGroupDto.ts
/um/src/app/api/com/example/model/apiResponseListGroupDto.ts
/um/src/app/api/com/example/model/apiResponseListRoleDto.ts
/um/src/app/api/com/example/model/apiResponseMapStringObject.ts
/um/src/app/api/com/example/model/apiResponseRoleDto.ts
/um/src/app/api/com/example/model/apiResponseUnit.ts
/um/src/app/api/com/example/model/apiResponseUserDto.ts
/um/src/app/api/com/example/configuration.ts
/um/src/app/api/com/example/encoder.ts
/um/src/app/api/.openapi-generator/FILES
/um/src/app/api/git_push.sh
/um/src/app/api/com/example/api/groupController.service.ts
/um/src/app/api/com/example/model/groupCreateDto.ts
/um/src/app/api/com/example/model/groupDto.ts
/um/src/app/api/com/example/model/groupUpdateDto.ts
/um/src/app/api/com/example/index.ts
/um/src/app/api/com/example/model/models.ts
/um/src/app/api/com/example/param.ts
/um/src/app/api/com/example/README.md
/um/src/app/api/com/example/api/roleController.service.ts
/um/src/app/api/com/example/model/roleCreateDto.ts
/um/src/app/api/com/example/model/roleDto.ts
/um/src/app/api/com/example/model/roleUpdateDto.ts
/um/src/app/api/com/example/model/userCreateDto.ts
/um/src/app/api/com/example/model/userDto.ts
/um/src/app/api/com/example/api/users.service.ts
/um/src/app/api/com/example/model/userUpdateDto.ts
/um/src/app/api/com/example/variables.ts
/um/src/app/api/.openapi-generator/VERSION
