.detail-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}

header {
  margin-bottom: 24px;
}

h2 {
  margin: 0;
  font-weight: 500;
}

.tab-content {
  padding: 24px 0;
}

footer {
  margin-top: auto;
  padding-top: 24px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
