:host {
  display: block;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

mat-card-actions {
  padding: 16px;
  gap: 8px;
}

mat-card-footer {
  overflow: hidden;
}
