<mat-card class="detail-view">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="showTabs; else singleView">
        <mat-tab-group>
          <mat-tab label="Basic data">
            <div class="tab-content">
              <ng-container *ngTemplateOutlet="basicDataTemplate || defaultBasicData">
              </ng-container>
            </div>
          </mat-tab>
          
          <mat-tab label="Permissions" *ngIf="permissionsTemplate">
            <div class="tab-content">
              <ng-container *ngTemplateOutlet="permissionsTemplate">
              </ng-container>
            </div>
          </mat-tab>

          <mat-tab label="Included in" *ngIf="includedInTemplate">
            <div class="tab-content">
              <ng-container *ngTemplateOutlet="includedInTemplate">
              </ng-container>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-container>

      <ng-template #singleView>
        <div class="single-content">
          <ng-container *ngTemplateOutlet="basicDataTemplate || defaultBasicData">
          </ng-container>
        </div>
      </ng-template>

      <ng-template #defaultBasicData>
        <ng-content></ng-content>
      </ng-template>

      <footer>
        <button mat-button 
                type="button" 
                [disabled]="loading"
                (click)="onCancel()">
          {{cancelLabel}}
        </button>
        
        <button mat-button 
                type="button"
                color="warn"
                *ngIf="showDelete"
                [disabled]="loading"
                (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        
        <button mat-flat-button
                type="submit"
                color="primary"
                [disabled]="!form.valid || loading">
          {{submitLabel}}
        </button>
      </footer>
    </form>
  </mat-card-content>
</mat-card>
